flows.json
[
    {
        "id": "0f42c6368445b7db",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "flow1",
        "type": "tab",
        "label": "Dam Gate HMI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "df9f96585334002e",
        "type": "tab",
        "label": "Dam Gate HMI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dccbf6bd3fb0e375",
        "type": "ui_tab",
        "name": "Dam Gate",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb2418295aea7d29",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8b50f9ed5a1416a6",
        "type": "ui_group",
        "name": "Gate Control",
        "tab": "dccbf6bd3fb0e375",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "modbusClientConfig",
        "type": "modbus-client",
        "z": "flow1",
        "name": "ModRSSim2 TCP",
        "clienttype": "tcp",
        "bufferCommands": false,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": false,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialConnectionDelay": "",
        "serialAsciiResponseStartDelimiter": "",
        "unit_id": 1,
        "commandDelay": "",
        "clientTimeout": "",
        "reconnectOnTimeout": false,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": false,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ui_page",
        "type": "ui_tab",
        "name": "Dam Gate HMI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ui_group_main",
        "type": "ui_group",
        "name": "Main",
        "tab": "ui_page",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "ui_group_controls",
        "type": "ui_group",
        "name": "Controls",
        "tab": "ui_page",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_status",
        "type": "ui_group",
        "name": "Status",
        "tab": "ui_page",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "50dee719333e0c7a",
        "type": "modbus-client",
        "z": "df9f96585334002e",
        "name": "ModRSSim2 TCP",
        "clienttype": "tcp",
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "unit_id": "1",
        "reconnectOnTimeout": false,
        "reconnectTimeout": "2000",
        "showErrors": true
    },
    {
        "id": "pollHR",
        "type": "modbus-read",
        "z": "flow1",
        "name": "Poll HR 40001-40024",
        "topic": "poll_holding",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "24",
        "rate": "1000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "modbusClientConfig",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "parseRegisters"
            ],
            []
        ]
    },
    {
        "id": "parseRegisters",
        "type": "function",
        "z": "flow1",
        "name": "Parse HR -> object & store",
        "func": "// msg.payload.data is array of registers\nvar d = (msg.payload && msg.payload.data) ? msg.payload.data : (Array.isArray(msg.payload) ? msg.payload : []);\nvar obj = {\n    curPos: d[0] || 0,\n    command: d[1] || 0,\n    minPos: d[2] || 0,\n    maxPos: d[3] || 6000,\n    span: d[4] || 1,\n    lrStatus: d[5] || 0,\n    ocStatus: d[6] || 0,\n    fullyOC: d[7] || 0,\n    overTorque: d[8] || 0,\n    overload: d[9] || 0,\n    earthLeaked: d[10] || 0,\n    esdStatus: d[11] || 0,\n    spare: d[12] || 0,\n    tick: d[13] || 0,\n    second: d[14] || 0,\n    minute: d[15] || 0,\n    hour: d[16] || 0,\n    day: d[17] || 0,\n    month: d[18] || 0,\n    year: d[19] || 0,\n    defaultMinPos: d[20] || 0,\n    defaultMaxPos: d[21] || 6000,\n    defaultSpan: d[22] || 1,\n    defaultLR: d[23] || 1\n};\nflow.set('lastHR', obj);\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "ui_template_gate",
                "ui_text_pos",
                "ui_text_lr",
                "ui_template_statuses",
                "ui_gauge_pos"
            ]
        ]
    },
    {
        "id": "ui_template_gate",
        "type": "ui_template",
        "z": "flow1",
        "group": "ui_group_main",
        "name": "Gate Animation",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<div style=\"text-align:center\">\n  <svg id=\"gateSVG\" viewBox=\"0 0 400 200\" preserveAspectRatio=\"xMidYMid meet\" style=\"width:100%;height:100%\">\n    <rect x=\"0\" y=\"0\" width=\"400\" height=\"200\" fill=\"#bfe9ff\"></rect>\n    <rect x=\"140\" y=\"20\" width=\"120\" height=\"160\" fill=\"#8a8a8a\"></rect>\n    <g id=\"gateGroup\" transform=\"translate(0,0)\">\n      <rect id=\"gateRect\" x=\"150\" y=\"40\" width=\"100\" height=\"120\" fill=\"#4a6a8a\"></rect>\n      <rect x=\"150\" y=\"40\" width=\"10\" height=\"120\" fill=\"#333\"></rect>\n      <rect x=\"240\" y=\"40\" width=\"10\" height=\"120\" fill=\"#333\"></rect>\n    </g>\n    <text id=\"posText\" x=\"200\" y=\"180\" font-size=\"14\" text-anchor=\"middle\" fill=\"#00334d\">Posisi: 0 mm</text>\n  </svg>\n</div>\n\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg){\n    if(!msg || !msg.payload) return;\n    var p = msg.payload;\n    var cur = Number(p.curPos || 0);\n    var min = Number(p.minPos || 0);\n    var max = Number(p.maxPos || 6000);\n    var t = 0;\n    if(max != min) t = (cur - min) / (max - min);\n    t = Math.max(0, Math.min(1, t));\n    var translateY = -80 * t;\n    var g = document.getElementById('gateGroup');\n    if(g) g.setAttribute('transform','translate(0,'+translateY+')');\n    var pt = document.getElementById('posText');\n    if(pt) pt.textContent = 'Posisi: ' + cur + ' mm';\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_text_pos",
        "type": "ui_text",
        "z": "flow1",
        "group": "ui_group_main",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Position Text",
        "label": "Posisi (mm)",
        "format": "{{msg.payload.curPos}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "ui_gauge_pos",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Gate Position Gauge",
        "group": "ui_group_main",
        "order": 3,
        "width": "4",
        "height": "2",
        "gtype": "gage",
        "title": "",
        "label": "Gate Pos",
        "format": "{{msg.payload.curPos}}",
        "min": 0,
        "max": 6000,
        "colors": [
            "#00b050",
            "#f39c12",
            "#c0392b"
        ],
        "seg1": "2000",
        "seg2": "4000",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "ui_text_lr",
        "type": "ui_text",
        "z": "flow1",
        "group": "ui_group_status",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Local/Remote",
        "label": "Mode LR",
        "format": "{{msg.payload.lrStatus == 2 ? 'REMOTE' : (msg.payload.lrStatus == 1 ? 'LOCAL' : 'ERROR')}}",
        "layout": "row-spread",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_template_statuses",
        "type": "ui_template",
        "z": "flow1",
        "group": "ui_group_status",
        "name": "Statuses",
        "order": 2,
        "width": "6",
        "height": "6",
        "format": "<div style=\"font-size:14px\">\n  <div><b>OPENING:</b> <span style=\"color:green\">{{msg.payload.command==3 ? 'True' : 'False'}}</span></div>\n  <div><b>CLOSING:</b> <span style=\"color:green\">{{msg.payload.command==4 ? 'True' : 'False'}}</span></div>\n  <div><b>FULLY OPEN:</b> <span style=\"color:blue\">{{msg.payload.fullyOC==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>FULLY CLOSE:</b> <span style=\"color:blue\">{{msg.payload.fullyOC==2 ? 'Yes' : 'No'}}</span></div>\n  <div><b>OVER TORQUE:</b> <span style=\"color:red\">{{msg.payload.overTorque!=0 ? msg.payload.overTorque : 'No'}}</span></div>\n  <div><b>OVERLOAD:</b> <span style=\"color:red\">{{msg.payload.overload==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>EARTH LEAK:</b> <span style=\"color:red\">{{msg.payload.earthLeaked==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>ESD:</b> <span style=\"color:red\">{{msg.payload.esdStatus==1 ? 'Active' : 'Normal'}}</span></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 960,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "btn_open",
        "type": "ui_button",
        "z": "flow1",
        "name": "OPEN",
        "group": "ui_group_controls",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "OPEN",
        "color": "#ffffff",
        "bgcolor": "#4CAF50",
        "icon": "arrow-up",
        "payload": "3",
        "payloadType": "num",
        "topic": "command",
        "x": 240,
        "y": 360,
        "wires": [
            [
                "prepareCommand"
            ]
        ]
    },
    {
        "id": "btn_close",
        "type": "ui_button",
        "z": "flow1",
        "name": "CLOSE",
        "group": "ui_group_controls",
        "order": 2,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "CLOSE",
        "color": "#ffffff",
        "bgcolor": "#f44336",
        "icon": "arrow-down",
        "payload": "4",
        "payloadType": "num",
        "topic": "command",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "prepareCommand"
            ]
        ]
    },
    {
        "id": "btn_stop",
        "type": "ui_button",
        "z": "flow1",
        "name": "STOP",
        "group": "ui_group_controls",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "STOP",
        "color": "#ffffff",
        "bgcolor": "#607d8b",
        "icon": "stop",
        "payload": "2",
        "payloadType": "num",
        "topic": "command",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "prepareCommand"
            ]
        ]
    },
    {
        "id": "btn_esd",
        "type": "ui_button",
        "z": "flow1",
        "name": "ESD",
        "group": "ui_group_controls",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "ESD",
        "color": "#ffffff",
        "bgcolor": "#9c27b0",
        "icon": "exclamation-triangle",
        "payload": "5",
        "payloadType": "num",
        "topic": "command",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "prepareCommand"
            ]
        ]
    },
    {
        "id": "prepareCommand",
        "type": "function",
        "z": "flow1",
        "name": "Check LR & prepare write to 40002",
        "func": "// msg.payload contains numeric command code\nvar cmd = Number(msg.payload);\nvar hr = flow.get('lastHR') || {lrStatus:0};\nvar lr = hr.lrStatus || 0; // 2 = REMOTE\n\nif(cmd === 5) {\n    node.status({fill:\"red\",shape:\"ring\",text:\"ESD command\"});\n} else if(lr !== 2) {\n    // Not remote -> reject: second output sends toast message\n    var n = { payload: 'Command rejected: Controller not in REMOTE. Set to REMOTE to allow HMI commands.' };\n    node.send([null, n]);\n    return null;\n}\n// prepare payload for modbus-write (single register)\nvar out = { payload: cmd };\nreturn [out, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 440,
        "wires": [
            [
                "modbusWriteCmd"
            ],
            [
                "ui_toast_reject"
            ]
        ]
    },
    {
        "id": "modbusWriteCmd",
        "type": "modbus-write",
        "z": "flow1",
        "name": "Write Command to 40002",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "modbusClientConfig",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 800,
        "y": 440,
        "wires": [
            [
                "ui_toast_ok"
            ],
            [
                "ui_toast_error"
            ]
        ]
    },
    {
        "id": "ui_toast_reject",
        "type": "ui_toast",
        "z": "flow1",
        "position": "top right",
        "displayTime": "4",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Reject Toast",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "ui_toast_ok",
        "type": "ui_toast",
        "z": "flow1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Action OK Toast",
        "x": 1040,
        "y": 420,
        "wires": []
    },
    {
        "id": "ui_toast_error",
        "type": "ui_toast",
        "z": "flow1",
        "position": "top right",
        "displayTime": "6",
        "highlight": "red",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Action Error Toast",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "86aedd917944e9bd",
        "type": "modbus-read",
        "z": "df9f96585334002e",
        "name": "Poll HR 40001-40024",
        "topic": "poll_holding",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "24",
        "rate": "1000",
        "rateUnit": "ms",
        "delayOnStart": false,
        "enableDeformedMessages": false,
        "startDelayTime": "",
        "server": "50dee719333e0c7a",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 280,
        "wires": [
            [
                "01b4d9b6be0d346d"
            ],
            []
        ]
    },
    {
        "id": "01b4d9b6be0d346d",
        "type": "function",
        "z": "df9f96585334002e",
        "name": "Parse HR -> object & store",
        "func": "// msg.payload.data is array of registers\nvar d = (msg.payload && msg.payload.data) ? msg.payload.data : (Array.isArray(msg.payload) ? msg.payload : []);\nvar obj = {\n    curPos: d[0] || 0,\n    command: d[1] || 0,\n    minPos: d[2] || 0,\n    maxPos: d[3] || 6000,\n    span: d[4] || 1,\n    lrStatus: d[5] || 0,\n    ocStatus: d[6] || 0,\n    fullyOC: d[7] || 0,\n    overTorque: d[8] || 0,\n    overload: d[9] || 0,\n    earthLeaked: d[10] || 0,\n    esdStatus: d[11] || 0,\n    spare: d[12] || 0,\n    tick: d[13] || 0,\n    second: d[14] || 0,\n    minute: d[15] || 0,\n    hour: d[16] || 0,\n    day: d[17] || 0,\n    month: d[18] || 0,\n    year: d[19] || 0,\n    defaultMinPos: d[20] || 0,\n    defaultMaxPos: d[21] || 6000,\n    defaultSpan: d[22] || 1\n};\nflow.set('lastHR', obj);\nmsg.payload = obj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "567211e0bbeb86ce",
                "5dd9b9d02d4f3ef3",
                "6bf325feb06ff685",
                "815d61b03e4189cd",
                "5b1dc4374e385477",
                "c278b8fa4eff8d66"
            ]
        ]
    },
    {
        "id": "567211e0bbeb86ce",
        "type": "ui_template",
        "z": "df9f96585334002e",
        "group": "ui_group_main",
        "name": "Gate Animation",
        "order": 1,
        "width": "12",
        "height": "6",
        "format": "<style>\n  /* smooth transition for gate movement */\n  #gateGroup { transition: transform 800ms ease-in-out; }\n  .pos-label{ font-weight:600; }\n</style>\n<div style=\"text-align:center\">\n  <svg id=\"gateSVG\" viewBox=\"0 0 400 200\" preserveAspectRatio=\"xMidYMid meet\" style=\"width:100%;height:100%\">\n    <rect x=\"0\" y=\"0\" width=\"400\" height=\"200\" fill=\"#bfe9ff\"></rect>\n    <rect x=\"140\" y=\"20\" width=\"120\" height=\"160\" fill=\"#8a8a8a\"></rect>\n    <g id=\"gateGroup\" transform=\"translate(0,0)\">\n      <rect id=\"gateRect\" x=\"150\" y=\"40\" width=\"100\" height=\"120\" fill=\"#4a6a8a\"></rect>\n      <rect x=\"150\" y=\"40\" width=\"10\" height=\"120\" fill=\"#333\"></rect>\n      <rect x=\"240\" y=\"40\" width=\"10\" height=\"120\" fill=\"#333\"></rect>\n    </g>\n    <text id=\"posText\" x=\"200\" y=\"180\" font-size=\"14\" text-anchor=\"middle\" fill=\"#00334d\" class=\"pos-label\">Posisi: 0 mm</text>\n  </svg>\n</div>\n\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg){\n    if(!msg || !msg.payload) return;\n    var p = msg.payload;\n    var cur = Number(p.curPos || 0);\n    var min = Number(p.minPos || 0);\n    var max = Number(p.maxPos || 6000);\n    var t = 0;\n    if(max != min) t = (cur - min) / (max - min);\n    t = Math.max(0, Math.min(1, t));\n    var translateY = -80 * t;\n    var g = document.getElementById('gateGroup');\n    if(g) g.setAttribute('transform','translate(0,'+translateY+')');\n    var pt = document.getElementById('posText');\n    if(pt) pt.textContent = 'Posisi: ' + cur + ' mm';\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 580,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5dd9b9d02d4f3ef3",
        "type": "ui_template",
        "z": "df9f96585334002e",
        "group": "ui_group_controls",
        "name": "Control Panel (Buttons + Defaults)",
        "order": 1,
        "width": "6",
        "height": "8",
        "format": "<style>\n  .dam-controls{ display:flex; flex-direction:column; gap:10px; }\n  .btn-row{ display:flex; gap:10px; }\n  .cmd-btn{ flex:1; padding:12px; font-weight:700; border-radius:6px; border:none; color:#fff; cursor:pointer; }\n  .open{ background:#4CAF50 }\n  .close{ background:#f44336 }\n  .stop{ background:#607d8b }\n  .reset{ background:#2196f3 }\n  .esd{ background:#9c27b0 }\n  .disabled{ opacity:0.4; cursor:not-allowed }\n  .defaults{ display:flex; gap:8px; align-items:center }\n  .defaults input{ width:70px; padding:6px }\n</style>\n<div class=\"dam-controls\" ng-init=\"isRemote=false; minPos=0; maxPos=6000; span=1\">\n  <div style=\"font-weight:700; margin-bottom:6px\">Controls</div>\n  <div class=\"btn-row\">\n    <button class=\"cmd-btn open\" ng-class=\"{disabled:!isRemote}\" ng-click=\"sendCmd(3)\" ng-disabled=\"!isRemote\">OPEN</button>\n    <button class=\"cmd-btn close\" ng-class=\"{disabled:!isRemote}\" ng-click=\"sendCmd(4)\" ng-disabled=\"!isRemote\">CLOSE</button>\n  </div>\n  <div class=\"btn-row\">\n    <button class=\"cmd-btn stop\" ng-class=\"{disabled:!isRemote}\" ng-click=\"sendCmd(2)\" ng-disabled=\"!isRemote\">STOP</button>\n    <button class=\"cmd-btn reset\" ng-click=\"sendReset()\">RESET</button>\n  </div>\n  <div class=\"btn-row\">\n    <button class=\"cmd-btn esd\" ng-class=\"{disabled:!isRemote}\" ng-click=\"sendESD()\" ng-disabled=\"!isRemote\">ESD</button>\n    <div style=\"flex:1\"></div>\n  </div>\n  <hr />\n  <div style=\"font-weight:700\">Save Defaults</div>\n  <div class=\"defaults\">\n    <label>Min:</label>\n    <input type=\"number\" ng-model=\"minPos\" />\n    <label>Max:</label>\n    <input type=\"number\" ng-model=\"maxPos\" />\n    <label>Span:</label>\n    <input type=\"number\" ng-model=\"span\" />\n    <button style=\"margin-left:8px;padding:8px;\" ng-click=\"saveDefaults()\">Save</button>\n  </div>\n  <div style=\"font-size:12px;color:#666;margin-top:6px\">Mode: <b>{{ isRemote ? 'REMOTE' : 'LOCAL/ERROR' }}</b></div>\n</div>\n\n<script>\n(function(scope){\n  // Update isRemote when new HR arrives\n  scope.$watch('msg', function(msg){\n    if(!msg || !msg.payload) return;\n    scope.isRemote = (msg.payload.lrStatus === 2);\n    // initialize inputs with defaults on first message\n    if(!scope._initDefaults){\n      scope.minPos = msg.payload.defaultMinPos || msg.payload.minPos || 0;\n      scope.maxPos = msg.payload.defaultMaxPos || msg.payload.maxPos || 6000;\n      scope.span = msg.payload.defaultSpan || msg.payload.span || 1;\n      scope._initDefaults = true;\n    }\n    scope.$applyAsync();\n  });\n\n  scope.sendCmd = function(cmd){\n    if(!scope.isRemote){\n      scope.send({ payload: { _reject: true, msg: 'Controller not in REMOTE' } });\n      return;\n    }\n    // send numeric command (1..5) to flow\n    scope.send({ payload: { type: 'command', cmd: Number(cmd) } });\n  };\n\n  scope.sendReset = function(){\n    // RESET might be allowed even if not remote; change logic here if desired\n    if(!confirm('Send RESET command to controller?')) return;\n    scope.send({ payload: { type: 'command', cmd: 1 } });\n  };\n\n  scope.sendESD = function(){\n    if(!scope.isRemote){\n      scope.send({ payload: { _reject: true, msg: 'Controller not in REMOTE' } });\n      return;\n    }\n    if(!confirm('Confirm ESD (Emergency Shutdown)?')) return;\n    scope.send({ payload: { type: 'command', cmd: 5 } });\n  };\n\n  scope.saveDefaults = function(){\n    if(!scope.isRemote){\n      if(!confirm('Controller not in REMOTE. Save defaults anyway?')) return;\n    }\n    if(!confirm('Save Default Min/Max/Span to controller registers?')) return;\n    var minv = Number(scope.minPos) || 0;\n    var maxv = Number(scope.maxPos) || 6000;\n    var spv = Number(scope.span) || 1;\n    scope.send({ payload: { type: 'saveDefaults', min: minv, max: maxv, span: spv } });\n  };\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "996cb0a8d2e4b4dd"
            ]
        ]
    },
    {
        "id": "996cb0a8d2e4b4dd",
        "type": "function",
        "z": "df9f96585334002e",
        "name": "Handle control panel messages",
        "func": "// Accepts msgs from ui_template_controls\n// payload structure: {type:'command', cmd: <num>} OR {type:'saveDefaults', min, max, span}\nvar p = msg.payload || {};\nif(p._reject){ // purely UI-level reject\n    return { payload: { toast: 'Command rejected: ' + (p.msg || '') , ok: false } };\n}\nif(p.type === 'command'){\n    var cmd = Number(p.cmd);\n    // check LR again for safety\n    var hr = flow.get('lastHR') || {lrStatus:0};\n    if(hr.lrStatus !== 2 && cmd !== 1){ // allow RESET even if not REMOTE (cmd==1)\n        return { payload: { toast: 'Controller not REMOTE. Command not sent.', ok: false } };\n    }\n    // send to modbus write node for command\n    return [ { payload: cmd }, null ];\n}\nif(p.type === 'saveDefaults'){\n    // payload contains min,max,span -> write to registers 40021,40022,40023 (addresses 20,21,22)\n    var minv = Number(p.min)||0;\n    var maxv = Number(p.max)||6000;\n    var spv = Number(p.span)||1;\n    // send object with three values to chain writes\n    return [ null, { min: minv, max: maxv, span: spv } ];\n}\n// unknown -> ignore\nreturn null;",
        "outputs": 2,
        "noerr": 0,
        "x": 970,
        "y": 120,
        "wires": [
            [
                "2452f0103244dd48"
            ],
            [
                "8fded768002f426b"
            ]
        ]
    },
    {
        "id": "2452f0103244dd48",
        "type": "modbus-write",
        "z": "df9f96585334002e",
        "name": "Write Command to 40002",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "server": "50dee719333e0c7a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "2cdafb1385768c23"
            ],
            [
                "d04b9019cb45c54a"
            ]
        ]
    },
    {
        "id": "8fded768002f426b",
        "type": "modbus-write",
        "z": "df9f96585334002e",
        "name": "Write Default Min (40021)",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "20",
        "quantity": "1",
        "server": "50dee719333e0c7a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 970,
        "y": 260,
        "wires": [
            [
                "e7e4e450f3097fa9"
            ],
            [
                "19dc01196e424d7c"
            ]
        ]
    },
    {
        "id": "e7e4e450f3097fa9",
        "type": "modbus-write",
        "z": "df9f96585334002e",
        "name": "Write Default Max (40022)",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "21",
        "quantity": "1",
        "server": "50dee719333e0c7a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1250,
        "y": 260,
        "wires": [
            [
                "8d8a7489c9644932"
            ],
            [
                "19dc01196e424d7c"
            ]
        ]
    },
    {
        "id": "8d8a7489c9644932",
        "type": "modbus-write",
        "z": "df9f96585334002e",
        "name": "Write Default Span (40023)",
        "showStatusActivities": false,
        "showErrors": true,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "22",
        "quantity": "1",
        "server": "50dee719333e0c7a",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1540,
        "y": 380,
        "wires": [
            [
                "c711a208992ec4de"
            ],
            [
                "19dc01196e424d7c"
            ]
        ]
    },
    {
        "id": "6bf325feb06ff685",
        "type": "ui_text",
        "z": "df9f96585334002e",
        "group": "ui_group_main",
        "order": 2,
        "width": "4",
        "height": "1",
        "name": "Position Text",
        "label": "Posisi (mm)",
        "format": "{{msg.payload.curPos}}",
        "layout": "row-spread",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "c278b8fa4eff8d66",
        "type": "ui_gauge",
        "z": "df9f96585334002e",
        "name": "Gate Position Gauge",
        "group": "ui_group_main",
        "order": 3,
        "width": "4",
        "height": "2",
        "label": "Gate Pos",
        "format": "{{value}} mm",
        "min": 0,
        "max": 6000,
        "colors": [
            "#00b050",
            "#f39c12",
            "#c0392b"
        ],
        "seg1": "2000",
        "seg2": "4000",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "815d61b03e4189cd",
        "type": "ui_text",
        "z": "df9f96585334002e",
        "group": "ui_group_status",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Local/Remote",
        "label": "Mode LR",
        "format": "{{msg.payload.lrStatus == 2 ? 'REMOTE' : (msg.payload.lrStatus == 1 ? 'LOCAL' : 'ERROR')}}",
        "layout": "row-spread",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "5b1dc4374e385477",
        "type": "ui_template",
        "z": "df9f96585334002e",
        "group": "ui_group_status",
        "name": "Statuses",
        "order": 2,
        "width": "6",
        "height": "6",
        "format": "<div style=\"font-size:14px\">\n  <div><b>OPENING:</b> <span style=\"color:green\">{{msg.payload.command==3 ? 'True' : 'False'}}</span></div>\n  <div><b>CLOSING:</b> <span style=\"color:green\">{{msg.payload.command==4 ? 'True' : 'False'}}</span></div>\n  <div><b>FULLY OPEN:</b> <span style=\"color:blue\">{{msg.payload.fullyOC==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>FULLY CLOSE:</b> <span style=\"color:blue\">{{msg.payload.fullyOC==2 ? 'Yes' : 'No'}}</span></div>\n  <div><b>OVER TORQUE:</b> <span style=\"color:red\">{{msg.payload.overTorque!=0 ? msg.payload.overTorque : 'No'}}</span></div>\n  <div><b>OVERLOAD:</b> <span style=\"color:red\">{{msg.payload.overload==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>EARTH LEAK:</b> <span style=\"color:red\">{{msg.payload.earthLeaked==1 ? 'Yes' : 'No'}}</span></div>\n  <div><b>ESD:</b> <span style=\"color:red\">{{msg.payload.esdStatus==1 ? 'Active' : 'Normal'}}</span></div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 560,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4e60e63031ac91a4",
        "type": "ui_toast",
        "z": "df9f96585334002e",
        "position": "top right",
        "displayTime": "4",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Reject Toast",
        "x": 1450,
        "y": 60,
        "wires": []
    },
    {
        "id": "2cdafb1385768c23",
        "type": "ui_toast",
        "z": "df9f96585334002e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Command OK Toast",
        "x": 1520,
        "y": 140,
        "wires": []
    },
    {
        "id": "d04b9019cb45c54a",
        "type": "ui_toast",
        "z": "df9f96585334002e",
        "position": "top right",
        "displayTime": "6",
        "highlight": "red",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Command Error Toast",
        "x": 1520,
        "y": 200,
        "wires": []
    },
    {
        "id": "c711a208992ec4de",
        "type": "ui_toast",
        "z": "df9f96585334002e",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Defaults OK Toast",
        "x": 1810,
        "y": 360,
        "wires": []
    },
    {
        "id": "19dc01196e424d7c",
        "type": "ui_toast",
        "z": "df9f96585334002e",
        "position": "top right",
        "displayTime": "6",
        "highlight": "red",
        "outputs": 0,
        "ok": "OK",
        "topic": "",
        "name": "Defaults Error Toast",
        "x": 1810,
        "y": 260,
        "wires": []
    },
    {
        "id": "b247916d29879f83",
        "type": "function",
        "z": "df9f96585334002e",
        "name": "Send UI reject toast",
        "func": "if(msg && msg.payload && msg.payload.toast){\n    return { payload: msg.payload.toast };\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 1230,
        "y": 60,
        "wires": [
            [
                "4e60e63031ac91a4"
            ]
        ]
    },
    {
        "id": "b47ebfb83ca03c59",
        "type": "function",
        "z": "df9f96585334002e",
        "name": "Split defaults object to writes",
        "func": "// receives msg.payload = {min, max, span}\nvar p = msg.payload || {};\n// first output triggers writeMin with payload=min, second is unused\nreturn [ { payload: p.min }, { payload: p.max }, { payload: p.span } ];",
        "outputs": 3,
        "noerr": 0,
        "x": 960,
        "y": 400,
        "wires": [
            [
                "8fded768002f426b"
            ],
            [
                "e7e4e450f3097fa9"
            ],
            [
                "8d8a7489c9644932"
            ]
        ]
    }
]